@inherits LayoutComponentBase

<Minesweeper.BlazorClient.Shared.NavMenu />

<div class="main-content">
    @Body
</div>

<style>
.main-content {
    max-width: 900px;
    margin: 0 auto;
    padding: 2rem 1rem;
}
</style>
